<!-- fragment/head.html -->
<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="commonHead(title, cssSlot, jsSlot)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title th:text="${title}">기본 제목</title>

    <!-- css & font -->
    <link rel="stylesheet" th:href="@{/font/inter/inter.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vender/style.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/vender/sidebar-royal.css}" id="theme-css" type="text/css">

    <!-- 공통 js -->
    <script th:src="@{/js/common/httpUtil.js}"></script>
    <!-- contextPath 전역 변수 -->
    <script th:inline="javascript">
        const contextPath = /*[[${contextPath}]]*/ '';
    </script>

    <!-- plugins -->
    <link rel="stylesheet" th:href="@{/plugins/material-design-icons-iconfont/material-design-icons.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/plugins/simplebar/simplebar.min.css}" type="text/css">

    <!-- 페이지별 CSS slot -->
    <th:block th:replace="~{::pageCss} ?: ~{}"></th:block>

    <!-- 페이지별 JS slot -->
    <th:block th:replace="~{::pageJs} ?: ~{}"></th:block>
</head>
</html>