<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<body>
  <div th:fragment="sidebarFragment" class="lnb_inner sidebar-body">
    <!-- Sidebar -->
    <div class="sidebar">

      <!-- Sidebar header -->
      <div class="sidebar-header">
        <a href="index.html" class="logo">
          <img th:src="@{/img/logo.svg}" alt="Logo" id="main-logo">
          Olive Young
        </a>
        <a href="#" class="nav-link nav-icon rounded-circle ml-auto" data-toggle="sidebar">
          <i class="material-icons">close</i>
        </a>
      </div>
      <!-- /Sidebar header -->

      <!-- Sidebar body -->
      <div class="sidebar-body">
        <ul class="nav nav-sub">
          <!-- DASHBOARD -->
          <li class="nav-label">DASHBOARD</li>
          <li class="nav-item">
            <a class="nav-link has-icon" href="/dashboard"><i data-feather="home"></i>메인</a>
          </li>
          <!-- // DASHBOARD -->

          <!-- SERVICE -->
          <li class="nav-label">SERVICE</li>
          <li class="nav-item">
            <a class="nav-link has-icon dropdown-toggle" href="#"><i data-feather="shopping-bag"></i>상품 관리</a>
            <ul>
              <li><a href="/product">상품 목록/등록/수정</a></li>
              <li><a href="chart-bar.html">카테고리 관리</a></li>
              <li><a href="chart-radar.html">상품 옵션 관리</a></li>
              <li><a href="chart-doughnutpie.html">재고 관리</a></li>
              <li><a href="sparkline.html">가격 관리</a></li>
              <li><a href="sparkline.html">상품 리뷰 관리</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link has-icon dropdown-toggle" href="#"><i data-feather="truck"></i>주문/배송 관리</a>
            <ul>
              <li><a href="chart-line.html"><i data-feather="shopping-bag"></i>주문 목록/조회</a></li>
              <li><a href="chart-bar.html">배송 상태</a></li>
              <li><a href="chart-radar.html">상품 옵션 관리</a></li>
              <li><a href="chart-doughnutpie.html">반품/교환</a></li>
              <li><a href="sparkline.html">정산 내역 확인</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link has-icon dropdown-toggle" href="#"><i data-feather="users"></i>회원 관리</a>
            <ul>
              <li><a href="chart-line.html">회원 목록/조회</a></li>
              <li><a href="chart-bar.html">등급 관리</a></li>
              <li><a href="chart-radar.html">포인트 관리</a></li>
            </ul>
          </li>
          <!-- // SERVICE -->


          <!-- SERVICE -->
          <li class="nav-label">SYSTEM</li>
          <li class="nav-item">
            <a class="nav-link has-icon dropdown-toggle" href="#"><i data-feather="pie-chart"></i>Charts</a>
            <ul>
              <li><a href="chart-line.html">Line Charts</a></li>
              <li><a href="chart-bar.html">Bar Charts</a></li>
              <li><a href="chart-radar.html">Radar Charts</a></li>
              <li><a href="chart-doughnutpie.html">Doughnut and Pie</a></li>
              <li><a href="sparkline.html">Sparkline</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link has-icon dropdown-toggle" href="#"><i data-feather="box"></i>UI Elements</a>
            <ul>
              <li><a href="accordion.html">Accordion</a></li>
              <li><a href="alerts.html">Alerts</a></li>
              <li><a href="buttons.html">Buttons</a></li>
              <li><a href="cards.html">Cards</a></li>
              <li><a href="carousel.html">Carousel</a></li>
              <li><a href="collapse.html">Collapse</a></li>
              <li><a href="dropdowns.html">Dropdowns</a></li>
              <li><a href="lists.html">List Group</a></li>
              <li><a href="media-object.html">Media Object</a></li>
              <li><a href="modal.html">Modal</a></li>
              <li><a href="navigation.html">Navigation</a></li>
              <li><a href="notifications.html">Notifications</a></li>
              <li><a href="pagination.html">Pagination</a></li>
              <li><a href="popovers.html">Popovers</a></li>
              <li><a href="progress.html">Progress Bars</a></li>
              <li><a href="sortable.html">Sortable List</a></li>
              <li><a href="tooltips.html">Tooltips</a></li>
              <li><a href="typography.html">Typography</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link has-icon dropdown-toggle" href="#"><i
                    class="material-icons">table_chart</i>Tables</a>
            <ul>
              <li><a href="table-basic.html">Table Basic</a></li>
              <li><a href="table-advanced.html">Table Advanced</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link has-icon dropdown-toggle" href="#"><i class="material-icons">notes</i>Forms</a>
            <ul>
              <li><a href="form-elements.html">Form Elements</a></li>
              <li><a href="input-group.html">Input Group</a></li>
              <li><a href="input-masks.html">Input Masks</a></li>
              <li><a href="date-picker.html">Date Picker</a></li>
              <li><a href="color-picker.html">Color Picker</a></li>
              <li><a href="bootstrap-select.html">Bootstrap Select</a></li>
              <li><a href="bootstrap-touchspin.html">Bootstrap TouchSpin</a></li>
              <li><a href="range-slider.html">Range Slider</a></li>
              <li><a href="text-editor.html">Text Editor</a></li>
              <li><a href="markdown-parser.html">Markdown Parser</a></li>
              <li><a href="select2.html">Select2</a></li>
              <li><a href="form-layouts.html">Form Layouts</a></li>
              <li><a href="form-validation.html">Form Validation</a></li>
              <li><a href="form-wizard.html">Form Wizard</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link has-icon" href="mail.html"><i class="material-icons">mail_outline</i>Mail<span class="badge badge-warning ml-auto badge-pill">3</span></a>
          </li>
          <!-- // SYSTEM -->
        </ul>
      </div>

      <!-- /Sidebar body -->

    </div>
    <!-- /Sidebar -->

  </div>
  <div class="sidebarBottomPosition sidebarBottomRight">
    <a class="sidebarToggle" href="#" id="sidebarBottomMenu"><span class="blind">메뉴접기</span></a>
  </div>
</body>
</html>