<!DOCTYPE HTML>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout.html}" >
<th:block th:fragment="pageCss">
</th:block>

<th:block th:fragment="pageJs">
  <script th:src="@{/js/product/list.js}"></script>
</th:block>

<body>
<div layout:fragment="content">
  <!-- Main body -->
  <div class="main-body">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard">홈</a></li>
        <li class="breadcrumb-item">상품 관리</li>
        <li class="breadcrumb-item active" aria-current="page">상품 목록</li>
      </ol>
    </nav>
    <!-- /Breadcrumb -->

    <div class="d-flex">
      <div class="list-with-gap">
        <button class="btn btn-primary has-icon" type="button" data-toggle="modal" data-target="#addUser"><i class="material-icons mr-2">add_circle_outline</i>상품 등록</button>
        <button class="btn btn-light btn-sm d-none d-sm-block">Import user</button>
        <button class="btn btn-light btn-sm d-none d-sm-block">Export user (Excel)</button>
      </div>
      <button class="btn btn-primary ml-auto align-self-end has-icon" type="button" onclick="document.querySelector('#filter').toggleAttribute('hidden')">
        <i class="material-icons mr-2">filter_list</i>상세 검색
      </button>
    </div>
    <div class="card mt-3">
      <div class="table-responsive">
        <table class="table table-nostretch table-align-middle mb-0">
          <thead>
            <tr>
              <th scope="col" class="text-center">상품 이미지</th>
              <th scope="col" class="text-center">상품 이름</th>
              <th scope="col" class="text-center">상품 코드</th>
              <th scope="col" class="text-center">총 재고</th>
              <th scope="col" class="text-center">브랜드</th>
              <th scope="col" class="text-center">카테고리</th>
              <th scope="col" class="text-center">상품 상태</th>
              <th scope="col" class="text-center">관리</th>
            </tr>
          </thead>
          <tbody id="mainContent">

          </tbody>
        </table>
      </div>
      <div class="page-area" style="margin: 50px;align-self: center">
        <ul class="pagination pagination-circle mb-0">

        </ul>
      </div>
    </div>

    <!-- Add user Modal -->
    <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addUserLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form>
            <div class="modal-header d-flex align-items-center bg-dark text-white">
              <h6 class="modal-title mb-0" id="addUserLabel">Add new user</h6>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="userName">Fullname</label>
                <input type="text" class="form-control" id="userName" placeholder="Enter fullname" autofocus>
              </div>
              <div class="form-group">
                <label for="userMobile">Mobile</label>
                <input type="tel" class="form-control" id="userMobile" placeholder="Enter mobile phone number">
              </div>
              <div class="form-group">
                <label for="useremail">Email</label>
                <input type="email" class="form-control" id="useremail" placeholder="Enter email">
              </div>
              <div class="custom-file w-75">
                <input type="file" class="custom-file-input" id="customFile" multiple>
                <label class="custom-file-label" for="customFile">Avatar</label>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>